{% extends "Blog/mo.html" %}
{% block content %}


            <div class="row">
                {% for bs in blogs.all %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{bs.image.url}}">
                        <div class="card-body">
                            <a href="#">{{bs.title}}</a>
                            {{bs.public_date_format}}
                            <p class="card-text">{{bs.summary}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


{% endblock %}
