{% extends 'Blog/mo.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
                {% for js in jobs.all %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{js.image.url}}">
                        <div class="card-body">
                            <p class="card-text">{{ js.summry }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}